body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav li {
  margin: 0 10px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  header nav ul {
    flex-direction: column;
  }
  header nav li {
    margin: 10px 0;
  }
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a.active {
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
